<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Detalles de la Excursión</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>

	<div class="container mt-4">
		<h1 class="text-center mb-4">Detalles de la Excursión</h1>

		<!-- LISTA DETALLES EXCURSION -->
		<div class="card">
			<div class="card-header">Información de la Excursión</div>
			<div class="card-body">

				<p class="card-text">
					<strong>ID Excursión:</strong> <span
						th:text="${excursion.idExcursion}">ID de la excursión</span>
				</p>
				<p class="card-text">
					<strong>Origen:</strong> <span th:text="${excursion.origen}">Origen</span>
				</p>
				<p class="card-text">
					<strong>Destino:</strong> <span th:text="${excursion.destino}">Destino</span>
				</p>
				<p class="card-text">
					<strong>Fecha:</strong> <span th:text="${excursion.fechaExcursion}">Fecha
						de la excursión</span>
				</p>
				<p class="card-text">
					<strong>Duración:</strong> <span th:text="${excursion.duracion}"></span>
					días
				</p>
				<p class="card-text">
					<strong>Estado:</strong> <span th:text="${excursion.estado}">Estado
						de la excursión</span>
				</p>
				<p class="card-text">
					<strong>Destacado:</strong> <span th:text="${excursion.destacado}"></span>
				</p>
				<p class="card-text">
					<strong>Aforo Máximo:</strong> <span
						th:text="${excursion.aforoMaximo}"></span> personas
				</p>
				<p class="card-text">
					<strong>Mínimo de Asistentes:</strong> <span
						th:text="${excursion.miniAsistentes}"></span> personas
				</p>
				<p class="card-text">
					<strong>Precio Unitario:</strong> <span
						th:text="${excursion.precioUnitario}"></span> €
				</p>
				<p class="card-text">
					<strong>Imagen:</strong> <span th:text="${excursion.image}">Imagen</span>
				</p>
				<p class="card-text">
					<strong>Fecha de Alta:</strong> <span
						th:text="${excursion.fechaAlta}"></span>
				</p>
			</div>
		</div>



		<div class="mt-3">
			<a th:href="@{/}" class="btn btn-primary">Volver a la lista</a>
		</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
