<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle de un producto</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h1 class="text-center">Detalles del producto</h1>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item"><strong>ID del Producto:</strong> <span th:text="${producto.idProducto}"></span></li>
                <li class="list-group-item"><strong>Descripción:</strong> <span th:text="${producto.descripcion}"></span></li>
                <li class="list-group-item"><strong>Precio:</strong> <span th:text="${producto.precio}"></span></li>
                <li class="list-group-item"><strong>Stock:</strong> <span th:text="${producto.stock}"></span></li>
                <li class="list-group-item"><strong>Fecha de alta:</strong> <span th:text="${#dates.format(producto.fechaAlta, 'dd-MM-yyyy HH:mm')}"></span></li>
            </ul>
        </div>
        <div class="card-footer text-center">
            <a class="btn btn-primary" th:href="@{/}">Volver</a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
