<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Prestamos</title>
</head>

<body>
	
	<h1>Listado de Prestamos</h1>
	
	<a th:href="@{/cajero/addPrestamo}"
						class="btn btn-primary">Añadir Préstamo</a>
	
	<h3>Mensaje: <span th:text="${mensaje}"></span></h3>
	
	<h3>Cuenta: <span th:text="${session.cuenta.idCuenta}"></span></h3>
	
	<h3>Saldo: <span th:text="${session.cuenta.saldo}"></span></h3>

	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Fecha</th>
				<th>Descripcion</th>
				<th>Importe</th>
				<th>Interes</th>
				<th>Plazo</th>
				<th>Cuota</th>
				<th>Operaciones</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td th:text="${ele.idPrestamo}"></td>
				<td th:text="${ele.fechaPrestamo}"></td>
				<td th:text="${ele.descripcion}"></td>
				<td th:text="${ele.cantidadPrestamo}"></td>
				<td th:text="${ele.tasaInteresAnual}"></td>
				<td th:text="${ele.plazoMeses}"></td>
				<td th:text="${ele.tipoCuota}"></td>
				<td><a th:href="@{/prestamo/eliminar/{idPrestamo}(idPrestamo=${ele.idPrestamo})}">Eliminar</a></td>
			</tr>
		</tbody>
	</table>

	<a th:href="@{/}">Home</a>
</body>

</html>