@charset "UTF-8";
body {
            background-color: #f0f2f5;
        }
        .container {
            max-width: 1200px;
            margin-top: 40px;
        }
        h1 {
            font-weight: 700;
            color: #212529;
            margin-bottom: 20px;
        }
        .btn {
            border-radius: 0;
            font-weight: 600;
        }
        .card {
            border-radius: 0;
            background-color: #fff;
            border: none;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }
        .form-control {
            border-radius: 0;
        }
        .table {
            border: 1px solid #dee2e6;
            border-radius: 0;
            text-align:center;
        }
        .table thead th {
            background-color: #f8f9fa;
            border-bottom: 2px solid #dee2e6;
            font-weight: 700;
        }
        .table-hover tbody tr:hover {
            background-color: #f1f3f5;
        }
        .alert {
            border-radius: 0;
        }